 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 	font-family: 'Poppins', sans-serif;
 }
body{
	background-image: url(img/car2.jpg);
 	background-position: center center;
 	background-attachment: fixed;
 	background-size: cover;
}
 .container{
 	height: 100vh;
 	width: 100%;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }
 .form{
 	position: absolute;
 	max-width: 900px;
 	width: 100%;
 	padding: 30px;
 	border-radius: 6px;
 	background: #fff;
 	border-color: #000000;
 }
 header{
 	font-size: 28px;
 	font-weight: 600;
 	color: #000000;
 	text-align: center;
 }
 form{
 	margin-top: 0;
 }

 .columnsP{
 	display: table-cell;
 	padding-left: 15px;
 	padding-right: 15px;
 	padding-bottom: 20px;
 	width: 500px;
 }

 form .field{
 	position: relative;
 	height: 50px;
 	width: 100%;
 	margin-top: 30px;
 }
 .field input,
 .field button{
 	height: 80%;
 	width: 100%;
 	border: none;
 	font-size: 16px;
 	font-weight: 400;
 	border-radius: 6px;
 }
.field input{
	outline: none;
	padding: 0 15px;
	border: 1px solid #111111;
	background-color: #F8F8F8;
}
.field input:focus{
	border-bottom-width: 2px;
}

form .file{
	position: relative;
 	height: 50px;
 	width: 93%;
 	margin-top: 20px;
}
.tooltip1{
	font-weight: normal;
	color: #000;
	text-decoration: none;
	position: relative;
	top: -30px;
	left: 102%;
}
.tooltip1:hover {
	text-decoration: underline;
}
.tooltip1:hover .tooltip1-box{
	display: inline-block;
}
.tooltip1-box{
	display: none;
	position: absolute;
	background: #000;
	line-height: 20px;
	z-index: 500;
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 5px;
	left: -10px;
	bottom: 30px;
}
.tooltip1-box::after{
	content: "";
	display: block;
	border-top: 7px solid #000;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	bottom: -7px;
	left: 10px;

}

/*alertas*/
#mostrarPass{
	visibility: visible;
}

.field i{
	position: absolute;
	top: 13px;
	right: 10px;
	visibility: hidden;
}
.field small{
	visibility: hidden;
}
.form-link small{
	visibility: hidden;
}
/*---------------Nombre--------------------*/
.field.nombres.success i.bxs-check-circle,
.field.nombres.success input{
	border-color: #2ecc71;
	color: #2ecc71;
	visibility: visible;
}
.field.nombres.success small{
	position: relative;
	left: 6px;
	color: #2ecc71;
	visibility: hidden;
}
.field.nombres.error i.bxs-error-circle,
.field.nombres.error input{
	border-color: #D9002B;
	color: #D9002B;
	visibility: visible;
}
.field.nombres.error small{
	position: absolute;
	top: 44px;
	left: 6px;
	color: #D9002B;
	visibility: visible;
}

#precios{
	position: relative;
	top: 15px;
	padding-top: 25px;
	
	display: flex;
 	align-items: center;
 	justify-content: center;
}

.field button{

	color: #fff;
	background-color: #B40505;
	transition: all 0.3s ease;
	cursor: pointer;
	margin-top: -13px;

}
.field button:hover{
	background-color: #111111;
}

.form-link{
	text-align: center;
	padding-top: 10px;
	margin-bottom: -10px;
}
.form-link span,
.form-link a{
	font-size: 14px;
	font-weight: 400;
	color: #000000;

}
.form a{
	color: #D9002B;
	text-decoration: none;
	font-weight: bold;
}
.form-content a:hover{
	text-decoration: underline;
}
i.bx-arrow-back,
i.bx-log-out{
	color: #B40505;
	cursor: pointer;
	font-size: 20px;
	position: relative;
	left: 45%;
}


@media screen and (max-width: 400px){
	.form{
		padding: 15px 10px;
		max-width: 430px;
 		width: 100%;
	}
	.columnsP{
		display: inline;
		padding: 0;
		width: 100%;
	}
	#precio_boton{
		position: relative;
		top: 145px;
	}
	#columna2{
		position: relative;
		top: -130px;
	}
}